# App
node_modules
.DS_Store
/dist
# Web
web/node_modules
web/tests/e2e/videos/
web/tests/e2e/screenshots/
web/.env.local
web/.env.*.local

# Server
server/node_modules
server/.env.local
server/.env.*.local
# shared
shared/node_modules

# ui
ui/node_modules

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

**/samconfig.toml
